<h1 class="title" > Machine Details</h1>
<mat-card class="machine-card">
    <mat-card-header>
      <mat-card-title>Machine</mat-card-title>
      <mat-card-subtitle class="machine-desc">{{machine.DESCRIPTION | lowercase}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>Ticket Number: {{machine.TICKET_NUMBER}}</li>
            <li>Machine Type: {{machine.MACHINE_TYPE}}</li>
            <li>Machine Serial: {{machine.MACHINE_SERIAL}}</li>
            <li >Open Date: {{machine.OTMS | date}}</li> 
            <li>Subject: {{machine.SUBJECT}}</li>
        </ul>
    </mat-card-content>
  </mat-card>
