.machine-card {
    width: 550px;
    height:auto;
    background-color: #EEEEEE;
    margin-left: 1em;
    margin-bottom: 1em;
    font-family: 'Courier New', Courier, monospace;

  }

  .title{
    margin-left: 1em;
    margin-top: 1em;
  }
.machine-desc {
  color: grey;
}
  