
<h1 class="title" > {{headertitle}}</h1>
<div class="grid-container">
<mat-accordion *ngFor="let machine of machines; index as indexOfelement;" class= "index % 2 === 0? grid-item : grid-item2"  class="bordered">
  <mat-expansion-panel class= "machine-card" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Machine {{indexOfelement+1}}
      </mat-panel-title>
      <mat-panel-description>
       {{machine.TICKET_NUMBER}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="machine-desc">{{machine.DESCRIPTION}}</p>
    <button [routerLink]="['machine', machine.TICKET_NUMBER]" id="button" mat-flat-button color="primary">More Details</button>
  </mat-expansion-panel>
</mat-accordion>
</div>

  